%p
  %b Directed to:
  = @question.directed_to.name
%p
  %b Description:
  = @question.description
%p
  %b Attachment:
  - if @question.media.present?
    = image_tag @question.media.variant(resize: "400x400")
  - else
    No attachments provided
- if @answer.present?
  %p
    %b Answer:
    = @answer.description
  %p
    %b Answered at:
    = @answer.created_at
- else
  %i Waiting for the Doctor to provide an answer to your question

%br
= link_to 'Back', patient_questions_path(@patient)
- if @answer.blank?
  = link_to 'Edit', edit_patient_question_path(@question)
