%p#notice= notice

%p
  %b Created by:
  = @question.created_by
%p
  %b Directed to:
  = @question.directed_to
%p
  %b Description:
  = @question.description

= link_to 'Edit', edit_patient_question_path(@question)
\|
= link_to 'Back', patient_questions_path(@patient)
