= javascript_include_tag 'channels/chat_room_channel'
:coffee
  $ ->
    $('form#new_chat_message').on 'submit', (e) ->
      e.preventDefault()
      msg = $('input#chat_message_message').val()
      chatRoomID = $('input#chat_message_chat_room_id').val()

      if msg != ''
        $.ajax
          type: 'POST'
          url: '#{chat_messages_path.html_safe}'
          data:
            chat_message: msg
            chat_room_id: chatRoomID
          dataType: 'json'
          success: ->
            $('input#chat_message_message').val ''
          fail: ->
            alert('Try again')
      
    $(".chat").stop().animate({ scrollTop: $(".chat")[0].scrollHeight}, 1000);

%h4
  You are speaking with #{@chat_room.doctor.name}

%br
.row
  .col-12.col-md-4
    .card{style: "width: 20rem;"}
      .card-body
        %h5.card-title Information
        %p.card-text #{@chat_room.request.description}
        - if @chat_room.request.media.attached?
          %p.card-text
            %b Attachment:
            = image_tag @chat_room.request.media.variant(resize: "200x200")
        %a.btn.btn-primary{href: "#"} Button to do something...
  .col
    .chat{"data-channel-subscribe" => "chat-room", "data-chat-room-id" => "#{@chat_room.id}"}
      - @chat_messages.each do |chat_message|
        .chat-message-container
          .row.no-gutters
            .col-auto.text-center
              %img.avatar{alt: "", src: "#{current_user.gravatar_url}"}/
            .col
              .message-content
                %p.mb-1
                  = chat_message.message
                .text-right
                  %small
                    = chat_message.created_at
    = simple_form_for @chat_message, remote: true do |form|
      .input-group.mb-3
        = form.input :message, as: :string, wrapper: false, label: false,
          input_html: { class: 'chat-input' },include_blank: false
        .input-group-append
          = form.submit "Send", remote: true, class: 'btn btn-primary chat-input'
      = form.input :chat_room_id, as: :hidden

.d-none{"data-role" => "chat-message-template"}
  .chat-message-container
    .row.no-gutters
      .col-auto.text-center
        %img.avatar{alt: "", "data-role" => "user-avatar", src: ""}/
      .col
        .chat-message-content
          %p.mb-1{"data-role" => "chat-message-text"}
          .text-right
            %small{"data-role" => "chat-message-date"}
