:coffee
  $ ->
    scrollToBottom = ->
      $("#chat_messages").animate({ scrollTop: $("#chat_messages").prop('scrollHeight')}, 1000);
    scrollToBottom()

    $('form#new_chat_message').on 'submit', (e) ->
      msg = $('input#chat_message_message').val()
      chatRoomID = $('input#chat_message_chat_room_id').val()

      if msg != ''
        $.ajax
          type: 'POST'
          url: '#{chat_messages_path.html_safe}'
          data:
            chat_message: msg
            chat_room_id: chatRoomID
          dataType: 'json'
          success: ->
            scrollToBottom()
            $('input#chat_message_message').val ''
          fail: ->
            alert('Try again')
      return false
  
    $('input#chat_message_message').on 'input', (e) ->
      $('input.chat-input').toggleClass('disabled', e.target.value == "")
      
    $('#send_transcript').on 'click', ->
      url = "#{patient_chat_room_send_transcript_path(chat_room_id: '-chat-room-id').html_safe}"
      url.replace('-chat-room-id', "#{@chat_room.id}")
    
      $.ajax
        type: 'POST'
        url: url
        data:
          id: "#{@chat_room.id}"
        dataType: 'json'
        success: ->
          console.log('success')
        fail: ->
          console.log('fail')

#user-id{"data-user-id" => "#{current_user.id}" }
#chat-room-id{"data-chat-room-id" => "#{@chat_room.id}"}

%br
.row
  .col-3
    .card
      .card-body
        %h5.card-title Related information
        %p.card-text
          %b Description:
          = @chat_room.request.description
        %p
          %b Doctor:
          = @chat_room.doctor.name

        - if @chat_room.request.media.attached?
          %p.card-text
            %b Attachment:
            = image_tag @chat_room.request.media.variant(resize: "200x200")
        = link_to 'End Session', patient_chat_room_end_session_path(chat_room_id: @chat_room.id),
          class: 'btn btn-danger', 'data-confirm': 'Are you sure you want to end the session?'
  
        %button.btn.btn-info#send_transcript
          Email transcript

  .col-9.card
    .chat-room.card-body{"data-channel-subscribe" => "chat-room",
      "data-chat-room-id" => "#{@chat_room.id}", style: 'padding:0'}
      #chat_messages
        - @chat_messages.each do |chat_message|
          - if chat_message.user == current_user
            = render 'chat_messages/mine', chat_message: chat_message
          - else
            = render 'chat_messages/theirs', chat_message: chat_message
  
      .chat-box
        = simple_form_for @chat_message, remote: true do |form|
          .input-group.mb-3
            = form.input :message, as: :string, wrapper: false, label: false, placeholder: 'Type your message here...',
              input_html: { class: 'chat-input' }, include_blank: false
            .input-group-append
              = form.submit "Send", remote: true, class: 'btn btn-primary chat-input'
          = form.input :chat_room_id, as: :hidden

.d-none{"data-role" => "chat-message-template"}
  .chat-message-container
    .row.no-gutters
      .col-auto.text-center
        %img.avatar{alt: "", "data-role" => "user-avatar", src: ""}/
      .col
        .chat-message-content
          %p.mb-1{"data-role" => "chat-message-text"}
          .text-right
            %small{"data-role" => "chat-message-date"}
