%h4
  You are speaking with #{@chat_room.doctor.name}

%br
.row
  .col-12.col-md-4
    .card{style: "width: 20rem;"}
      .card-body
        %h5.card-title Information
        %p.card-text #{@chat_room.request.description}
        - if @chat_room.request.media.attached?
          %p.card-text
            %b Attachment:
            = image_tag @chat_room.request.media.variant(resize: "200x200")
        %a.btn.btn-primary{href: "#"} Button to do something...
  .col
    .chat
      - @chat_messages.each do |chat_message|
        .chat-message-container
          .row.no-gutters
            .col-auto.text-center
              %img.avatar{alt: "", src: "#{gravatar_url(chat_message.user)}"}/
            .col
              .message-content
                %p.mb-1
                  = chat_message.message
                .text-right
                  %small
                    = chat_message.created_at
    = simple_form_for @chat_message, remote: true do |form|
      .input-group.mb-3
        = form.input :message, as: :string, wrapper: false, label: false, input_html: { class: 'chat-input' }
        .input-group-append
          = form.submit "Send", class: 'btn btn-primary chat-input'
      = form.input :chat_room_id, as: :hidden