%h3 About your consultation

%p
  %b Description:
  = @consultation_request.description
%p
  %b Directed to:
  = @consultation_request.directed_to.name
%p
  %b Scheduled for:
  = @consultation_request.scheduled_for.strftime('%d/%m/%y: %H:%M %p')
%p
  %b Attachment:
  - if @consultation_request.media.attached?
    = image_tag @consultation_request.media.variant(resize: "400x400")
  - else
    No attachments provided

= link_to 'Back', patient_consultation_requests_path(current_user.patient), class: 'btn btn-info'
- if @consultation_request.status == 'scheduled'
  = link_to 'Edit', edit_patient_consultation_request_path(id: @consultation_request), class: 'btn btn-primary'
  = link_to 'Cancel', patient_consultation_request_path(id: @consultation_request), method: :delete,
    data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- elsif @consultation_request.status == 'finished'
  = link_to 'View transcript', patient_transcript_path(patient: current_user.patient, transcript_id: @consultation_request.chat_room.transcript&.id),
    class: 'btn btn-success'
- if !current_user.patient.in_session?
  = link_to 'Join session',
    patient_connect_with_doctor_path(consultation_request_id: @consultation_request.id), class: 'btn btn-success'
