!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title E Healthcare
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    = render partial: 'shared/common_body_content'

    .page#container
      .header.no-print#header
        - if user_signed_in?
          = render partial: 'layouts/doctors/navbar'
        - else
          = render 'shared/navigation_bar'
          = yield :header
      
      .d-flex#wrapper
        - if user_signed_in?
          = render partial: 'layouts/doctors/sidebar'
        .col-8
          = yield
