= bootstrap_form_for @urgent_request, url: patient_urgent_requests_path do |f|
  - if @urgent_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@urgent_request.errors.count, "error")} prohibited this urgent_request from being saved:"
      %ul
        - @urgent_request.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_area :description, required: true
  .field
    = f.file_field :media, required: false
  .actions
    = link_to 'Back', 'javascript:history.back()', class: 'btn btn-info'
    = f.submit 'Submit urgent request', class: 'btn btn-primary'
