%h1 Waiting Room
%p
  %b Patient:
  = @urgent_request.patient
%p
  %b Description:
  = @urgent_request.description

= link_to 'Continue',root_path
\|
= link_to 'Edit', edit_patient_urgent_request_path(@urgent_request)
\|
= link_to 'Back', 'javascript:history.back()'

= button_to 'Destroy',patient_urgent_request_path(id: @urgent_request), method: :delete, data: { confirm: 'Are you sure?' }