:coffee
  $ ->
    checkForSessionStart = ->
      $.ajax(
        url: "#{patient_urgent_request_check_for_session_start_path(urgent_request_id: @urgent_request.id)}"
        method: 'GET'
        dataType: 'JSON'
        data:
          urgent_request_id: "#{@urgent_request.id}"
        ).fail(->
          setTimeout(checkForSessionStart, 1000)
          console.log('Session has not started yet')
        ).done((data) ->
          window.location = data.address;
        )
      
    checkForSessionStart()

%h1 Please wait while we connect you to a doctor
%p
  %b Description:
  = @urgent_request.description
%p
  %b Attachment:
  - if @urgent_request.media.attached?
    = image_tag @urgent_request.media.variant(resize: "400x400")
  - else
    No attachments provided

= link_to "I don't need help anymore", patient_urgent_request_path(id: @urgent_request),
  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'