:coffee
  $ ->
    $('#company-name, #company-logo').on 'click', ->
      window.location.href = '/'

:sass
  #UrgentHelp
    margin-top: 4px
    margin-right: 10px

  .in-session-alert
    margin-left: 30vw

  #company-logo
    margin: 5px
    cursor: pointer

  #company-name
    margin-left: 10px
    cursor: pointer

%nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
  = image_tag 'logos/favicon-32x32', id: 'company-logo'
  #company-name
    %b E-Health
  
  - if current_user.patient.in_session?
    .in-session-alert
      %b You are current in a session with a Doctor

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto.mt-2.mt-lg-0
      %li.nav-item
        = link_to 'Seek urgent help', new_patient_urgent_request_path(current_user.patient),
          class: 'btn btn-danger', id: 'UrgentHelp'

      .dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true",
         "data-toggle" => "dropdown", href: "#", role: "button"}
          %img.avatar{src: "#{current_user.gravatar_url}"}
          = current_user.username
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          = link_to 'Profile', patient_profile_path(current_user.patient), class: 'dropdown-item'
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'