- if @transcripts.present?
  %h3 Your Previous Transcripts
  %table.table.table-hover
    %thead
      %tr
        %th Patient
        %th Description
        %th Transcript creation time 
        %th 

    %tbody
      - @transcripts.each do |transcript|
        - if transcript.chat_room.urgent_request.description.present?
          %tr
            %td= transcript.chat_room.patient.name           
            %td= transcript.chat_room.urgent_request.description         
            %td= transcript.updated_at
            %td= link_to 'Show', patient_transcript_path(id: transcript)
        - else 
          %tr
            %td= transcript.chat_room.doctor.name  
            %td= transcript.chat_room.consultation_request.description        
            %td= transcript.updated_at
            %td= link_to 'Show', patient_transcript_path(id: transcript)
- else
  %h3 There are no transcripts associated to you
  