- if @unanswered_questions.present?
  %h3 Unanswered questions
  %table.table.table-hover
    %thead
      %tr
        %th Created by
        %th Question
        %th Question age
        %th
  
    %tbody
      - @unanswered_questions.each do |question|
        %tr
          %td= question.created_by.user.email
          %td= question.description
          %td= "#{distance_of_time_in_words(question.created_at, Time.now)} ago"
          %td= link_to 'Answer', new_doctor_answer_path(question_id: question.id)
  %br
- else
  %h3 Unanswered questions
  %i You have no unanswered questions!

%br

- if @answers.present?
  %h3 Questions you have answered
  %table.table.table-hover
    %thead
      %tr
        %th Asked by
        %th Question
        %th Your answer
        %th Answered
        %th

    %tbody
      - @answers.each do |answer|
        %tr
          %td= answer.question.created_by.user.email
          %td= answer.question.description
          %td= answer.description
          %td= "#{distance_of_time_in_words(answer.created_at, Time.now)} ago"
          %td= link_to 'Show', doctor_answer_path(answer)
    %br
- else
  %h3 Answered questions
  %i You have not answered any questions
