:coffee
  $ ->
    $('form#new_answer').on 'submit', (e) ->
      $('#prescription').modal('show')

    $('form#new_prescription').on 'submit', (e) ->
      window.location = '/'
      
    $('btn#closeModal').on 'click', ->
      window.location = '/'

%h3 Answer the patient's question
%p
  %b Question:
  = @answer.question.description
%p
  %b Attachment:
  - if @answer.question.media.attached?
    = image_tag @answer.question.media.variant(resize: "400x400")
  - else
    No attachments provided

= bootstrap_form_for @answer, url: doctor_answers_path, remote: true do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @answer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_area :description, label: 'Enter your response here:', minlength: 20, required: true
    = f.hidden_field :question_id, value: @question.id
  .actions
    = link_to 'Back', doctor_answers_path, class: 'btn btn-info'
    = f.submit 'Submit answer', remote: true, class: 'btn btn-success'

#prescription.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel",
  :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Provide a prescription
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p You may choose to provide a prescription for the patient. Please be as specific as possible.
        .prescription-form
          = simple_form_for Prescription.new, remote: true do |form|
            .input-group.mb-3
              = form.input :description, as: :text, wrapper: false, label: false, include_blank: false,
                placeholder: 'Type your prescription here...', input_html: { class: 'description-input' },
                autocomplete: false, maxlength: 400
            .input-group-append{style: 'float:left'}
              %button.btn.btn-info#closeModal No thanks
            .input-group-append{style: 'float:right'}
              = form.submit "Create", remote: true, class: 'btn btn-primary'
            = form.input :doctor_id, as: :hidden, input_html: { value: @question.directed_to.id }
            = form.input :patient_id, as: :hidden, input_html: { value: @question.created_by.id }
